

<div ng-repeat="parcour in parcours" id="{{parcour.ligneId}}_{{parcour.macroDirection}}" class="parcour">
	<span class="ligneName">Ligne {{parcour.ligneName}}</span>
	<span class="headSign">Direction {{parcour.headSign}}</span>
	<div class="stops">
		<div ng-repeat="arret in parcour.stops" 
			id="{{parcour.ligneId}}_{{parcour.macroDirection}}_{{arret.stopId}}" 
			class="stop {{{true:'first', false:''}[$index==0]}} {{{true:'last', false:''}[$index==parcour.stops.length-1]}}">
			<span class="name">{{arret.stopName}}</span>
		</div>
	</div>
</div>
